.erroe__form {
  color: red;
  font-size: 14px;
  
}
.erroe__form > p {
  margin: -10px 0 20px;
}

.form {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    margin: 0 20px;
}

.input {
    width: 100%;
    margin-bottom: 10px;
}

.button_group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}